@import url(http://fonts.googleapis.com/css?family=Lato:400,900,700,300);

body {
    width: 100%;
    height: 100%;
    background-color: #3F484D;
	background:url(../img/dark_wall.png);
	color: #F08A00;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.container{
	background-color: rgba(187,185,185,0.30);
}

.intro {
	top: 100px;
}

.intro-text p {
	font-weight: 400;
}

a {
	text-decoration: none;
	font-size: 18px;
}

/* unvisited link */
li a:link {
    color: lightgray;
}

/* visited link */
li a:visited {
    color: lightgray;
}

/* mouse over link */
li a:hover {
    color: #FFF;
    text-decoration: none;
}

/* selected link */
li.active {
    color: #F08A00;
}


.navbar-brand{
	margin: 0;
	padding: 0 20px;
}

.navbar-brand h2{
	margin-top: 10px;
	color: #F08A00;
	font-weight: bold;
	float: left;
}

.navbar-brand img{
	height: 50px; 
}

.navbar .container {
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a{
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:hover{
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:focus{
	background-color: transparent;
}

.active {
	border-bottom: 3px solid #F08A00;
	background: transparent;
}

.jumbotron{
	border-radius: 5px;
	margin: 200px -50px 0px -50px;
}

.intro-text {
	text-align: center;	
}

.intro-text h1{
	font-weight:900;	
}

.intro-text h2{
	color: #333;	
}

.intro-text p {	
	color: #333;
	margin-top: 20px;
}

#intro-img {
	margin: 10px auto;
	border: 1px solid grey;
}

.titlebar {
	margin-top: -20px;
    margin-bottom: 30px;
    text-align: center;
}

.titlebar h1 {
	font-weight: 900;	
	text-transform: uppercase;
}

#features{
	padding: 100px 15px 20px 0px;
	z-index: -100;
	position:relative;
} 

 #kontakt {
 	padding: 100px 0 200px 0;
 }

#kontakt th {
	text-align: left;
	font-size: 18px;
	line-height: 50px;

}

.table-adress{
	padding-left: 40px;
}

 #kontakt table {
 	margin: 50px auto;
 }

#kontakt td:first-child{
	text-align: left;
	vertical-align: text-top;
}

#kontakt td:last-child{
	text-align: left;
	color: white;
}

#kontakt td {	 
	 padding-right: 15px;
	 line-height: 1.6;
}

.text-shadow {
	text-shadow: 0 1px 3px rgba(0,0,0,0.6), 0 0 30px rgba(0,0,0,0.25);
}

.feature-box {
	margin-bottom: 20px;	
	padding-left: 5px;
	padding-right: 5px;
}

.feature-box-icon {
	float: left;
}

.feature-box-icon i {
	font-size: 46px;
	margin: 15px 17px;
}

.feature-box-content {
	padding-left: 80px;
}

.feature-box-content h4 {
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

.feature-box-content p {
	color: white;
}

.drop-shadow {
	position:relative;
    width:auto;
    background:#fff;
        }

.drop-shadow:before, .drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
}
		
.curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    -webkit-box-shadow:0 0 55px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 55px rgba(0,0,0,0.6);
    box-shadow:0 0 55px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
    border-radius:10px / 100px;
}

.curved-hz-2:before {
    top:0;
    bottom:0; 
    left:10px;
    right:10px;
    -moz-border-radius:80px / 10px;
    border-radius:80px / 10px;
}

.img-block {	 
	margin: 10px 10px 20px 10px;
}

.img-block img {	
	margin: 0 auto;
	-webkit-border-radius: 50%;	
    -moz-border-radius: 50%;	
    border-radius: 50%;	
	box-shadow: 0px 0px 0px 0 rgba(10, 10, 10, 0.15);	
	opacity: 1;	
	-webkit-transition: all 250ms ease-in-out;	
	-moz-transition: all 250ms ease-in-out;	
	-o-transition: all 250ms ease-in-out;	
	-ms-transition: all 250ms ease-in-out;	
	transition: all 250ms ease-in-out;
}

hr {
	border-color: grey;
	margin: 0px -15px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.6), 0 0 30px rgba(0,0,0,0.25);
}

.gradient{
	background: -webkit-linear-gradient(rgba(187,185,185,0.3), rgba(187,185,185,0)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(187,185,185,0.3), rgba(187,185,185,0)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(187,185,185,0.3), rgba(187,185,185,0)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(187,185,185,0.3), rgba(187,185,185,0)); /* Standard syntax */
}

footer {
    height: 107px;
    padding: 20px;
    position: relative;   
    margin: 0 -15px;
}
